.countdown {
	display: flex;
	align-items: center;
	padding: 0 $spacer;
	border-left: solid 1px $gray-400;

	&:first-child {
		padding-left: 0;
		border-left: 0;
	}
}

.countdown-message {
	margin: 0 $spacer / 2 0 0;
}

.countdown-clock {
	display: flex;
}

.countdown-clockUnit {
	display: flex;
	margin: 0 $spacer / 2 0 0;
	color: $primary;

	.hours,
	.minutes,
	.seconds {
		display: block;
		width: 24px;
	}
}

.countdown-action {
	margin-left: $spacer / 2;
}
