h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: $headings-color;
}

// Bootstrap Overrides
// --------------------

// nav-link ovverride
.nav-link {
	display: flex;
	align-items: center;
	margin-right: $spacer / 2;
	color: $primary;

	.material-icons {
		margin-left: $spacer / 2;
	}
}

// ugly trick to remove undesired corner radius in submit form buttons
.input-group {
	.btn {
		border-top-right-radius: 4px !important;
		border-bottom-right-radius: 4px !important;
	}
}
