.hashResult {
	border-radius: 8px;
	background-color: $white;
	box-shadow: 0 10px 20px rgba( $primary, .1 ), 0 6px 6px rgba( $primary, .14 );
}

.hashResult-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: $spacer;
	border-bottom: solid 1px $gray-400;
}

.hashResult-header {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: $spacer / 4;
	color: $secondary;

	button {
		margin-left: auto;
	}
}

.hashResult-output {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
