@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src:
		url( 'https://fonts.gstatic.com/s/materialicons/v81/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2' )
		format( 'woff2' );
}

.material-icons {
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 24px;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	text-transform: none;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

.material-icons_sm {
	font-size: 18px;
}
