@mixin accordionItem-style($color) {
	.accordion-header::before {
		background-color: $color;
		box-shadow: 0 2px 4px rgba( $color, .4 ), 0 2px 2px rgba( $color, .34 );
	}

	.accordion-button:not( .collapsed ) {
		border-left: solid 4px $color;
	}

	.accordion-body {
		border-left: solid 4px $color;
		background: linear-gradient( 0deg, lighten( $color, 50% ) 0%, $gray-100 100% );
	}
}

.dashboardAccordion {
	display: flex;
	overflow: hidden;
	border-radius: 8px;
	background-color: $white;
	box-shadow: 0 10px 20px rgba( $primary, .1 ), 0 6px 6px rgba( $primary, .14 );

	.accordion-item {
		&.results_success {
			@include accordionItem-style($success);
		}

		&.results_error {
			@include accordionItem-style($danger);
		}

		&.results_pending {
			@include accordionItem-style($warning);
		}

		&:first-of-type {
			.accordion-button {
				border-top-width: 1px;
			}
		}
	}

	.accordion-header {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			z-index: 9;
			top: 50%;
			left: 16px;
			width: 14px;
			height: 14px;
			transform: translateY( -50% );
			border-radius: 12px;
		}
	}

	.accordion-button {
		padding-left: 42px;
		border-left: solid 4px transparent;

		&:focus {
			border-color: rgba( $black, .125 );
			outline: 0;
			box-shadow: none;
		}

		&:not( .collapsed ) {
			background-color: $white;
		}
	}

	.accordion-actions {
		display: flex;
		position: absolute;
		z-index: 9;
		top: 50%;
		right: 52px;
		transform: translateY( -50% );

		button {
			margin-right: $spacer / 2;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
