.popover {
	width: 400px;
	max-width: 400px;
}

.popover-header {
	display: flex;
	position: relative;
	align-items: center;
	min-height: 52px;
	padding-right: 52px;
}

.popover-closeBtn {
	position: absolute;
	top: $spacer / 2;
	right: $spacer / 2;
}
