@mixin roundedButton-style($color) {
	&:hover {
		background-color: rgba( $color, .12 );
		color: $color;
	}
}

.roundedButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	transition: all ease-in-out .2s;
	border: solid 1px transparent;
	border-radius: 50%;
	background-color: transparent;
	color: $secondary;

	&:disabled {
		opacity: .5;
		cursor: not-allowed;
	}

	.material-icons {
		font-size: 18px;
	}
}

.roundedButton_lg {
	width: 48px;
	height: 48px;

	.material-icons {
		font-size: 24px;
	}
}

.roundedButton_success {
	@include roundedButton-style($success);
}

.roundedButton_danger {
	@include roundedButton-style($danger);
}

.roundedButton_warning {
	@include roundedButton-style($warning);
}

.roundedButton_primary {
	@include roundedButton-style($primary);
}

.roundedButton_secondary {
	@include roundedButton-style($secondary);
}
