.spinner {
	display: flex;
	position: relative;
	align-items: center;
	height: 4px;
	margin-top: $spacer;
	margin-bottom: $spacer * 2;
	overflow: hidden;
	border-radius: 4px;
}

.spinner-line {
	width: 100%;
	height: 1px;
	background-color: $gray-400;
}

.spinner-indicator {
	position: absolute;
	height: 4px;
	animation: .5s ease-in-out infinite alternate slidein;
	border-radius: 4px;
	background-color: $warning;
}

@keyframes slidein {
	1% {
		left: 0;
		width: 0%;
	}

	50% {
		width: 30%;
	}

	to {
		left: 100%;
		width: 0%;
	}
}
