.urlToPingResults {
	margin-bottom: $spacer * 2;
	padding: $spacer;
	border-radius: 8px;
	background-color: $white;

	&.results_success {
		border-left: solid 4px $success;
		box-shadow:
			0 10px 20px rgba( darken( $success, 10% ), .19 ),
			0 6px 6px rgba( darken( $success, 10% ), .23 );
	}

	&.results_error {
		border-left: solid 4px $danger;
		box-shadow:
			0 10px 20px rgba( darken( $danger, 10% ), .19 ),
			0 6px 6px rgba( darken( $danger, 10% ), .23 );
	}
}
