// Color system

//gray-color-variables
$white: white;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: black;

// color-variables
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

// theme-color-variables
$primary: #14294d;
$secondary: $gray-600;
$success: #29ca29;
$info: $cyan;
$warning: $yellow;
$danger: #e0193e;
$light: $gray-100;
$dark: $gray-900;

// Body colors
$body-bg: $gray-200;
$body-color: $gray-700;
$headings-color: $primary;
